<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User - Donation Card Detail</title>
</head>
<body>
<h1 th:text="${donationCard.title}">Title</h1>
<p th:text="${donationCard.description}">Description</p>
<p>Target Amount: <span th:text="${donationCard.targetAmount}">Target Amount</span></p>
<p>Start Date: <span th:text="${donationCard.startDate}">Start Date</span></p>
<p>End Date: <span th:text="${donationCard.endDate}">End Date</span></p>
<form th:action="@{/donation-cards/donate}" method="post">
  <input type="hidden" name="cardId" th:value="${donationCard.id}">
  <div>
    <label>Amount</label>
    <input type="number" name="amount">
  </div>
  <div>
    <button type="submit">Donate</button>
  </div>
</form>
</body>
</html>