<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELPZ - Free Charity Website Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

    <div th:replace="enTete :: enTete"></div>

    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>Chúng Ta Sẽ Làm Gì?</p>
                <h2>Chúng tôi hy vọng sẽ đồng hành cùng các bạn cứu giúp những mảnh đời khó khăn này</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-diet"></i>
                        </div>
                        <div class="service-text">
                            <h3>Đồ ăn tốt cho sức khoẻ</h3>
                            <p>Cung cấp các bữa ăn bổ dưỡng và cân bằng là điều cần thiết để duy trì sức khỏe và sự hạnh phúc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-water"></i>
                        </div>
                        <div class="service-text">
                            <h3>Nguồn nước tinh khiết</h3>
                            <p>Tiếp cận với nước uống sạch và an toàn là nền tảng cho sức khỏe và vệ sinh của cộng đồng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-healthcare"></i>
                        </div>
                        <div class="service-text">
                            <h3>Chăm sóc sức khoẻ</h3>
                            <p>Đảm bảo tiếp cận với các dịch vụ chăm sóc sức khỏe chất lượng thúc đẩy hạnh phúc và ngăn ngừa bệnh tật.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Chương trình học</h3>
                            <p>Cung cấp giáo dục nền tảng trang bị cho các cá nhân kiến thức và kỹ năng cần thiết cho tương lai.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Cơ sở lưu trú</h3>
                            <p>Nhà ở an toàn và đầy đủ rất quan trọng để đảm bảo an ninh, phát triển ổn định và phúc lợi tổng thể.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-social-care"></i>
                        </div>
                        <div class="service-text">
                            <h3>Phúc lợi xã hội</h3>
                            <p>Hỗ trợ các thành viên dễ bị tổn thương trong xã hội thông qua các dịch vụ xã hội thúc đẩy tính toàn diện và lòng trắc ẩn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <div class="section-header text-center">
        <p>Tại sao chúng tôi làm vậy?</p>
        <h2>"Cùng nhau, chúng ta có thể tạo ra những sự khác biệt và thay đổi cuộc sống trở nên tốt đẹp hơn."</h2>
    </div>

    <div class="container2">
    <div class="body-gallery">
    <div class="gallery">
        <input type="checkbox" >
        <img src="/images/photo6.jpg" alt="photo humanitaire">
        <img src="/images/kid.jpg" alt="photo humanitaire">
        <img src="/images/photo1.jpg" alt="photo humanitaire">
        <img src="/images/photo2.jpg" alt="photo humanitaire">
        <img src="/images/lady.jpg" alt="photo humanitaire">
        <img src="/images/shutterstock_306145868-min.jpg" alt="photo humanitaire">
        <img src="/images/photo4.jpg" alt="photo humanitaire">
        <img src="/images/madagascar.jpg" alt="photo humanitaire">
    </div>

    </div>
    <div class="body-gallery2">
        <p>


            Khi chúng ta kết hợp sức mạnh và cùng nhau làm việc với mục tiêu chung, những khả năng trở nên vô tận. Mỗi cá nhân đều mang đến sự độc đáo, kiến thức và đam mê riêng, tạo nên một động lực tập thể có thể tác động đáng kể.<br><br>

            Thường ta sẽ dễ cảm thấy áp lực trước những thách thức xung quanh chúng ta, dù đó là vấn đề xã hội, môi trường hay thậm chí là vấn đề cá nhân. Tuy nhiên, hãy nhớ rằng mọi hành động nhỏ đều quan trọng và có thể tạo ra sự khác biệt lớn. 🌱<br><br>

            Ví dụ về việc cứu trợ nhân đạo: Một đợt quyên góp duy nhất có thể cung cấp thực phẩm, nước sạch hoặc chăm sóc y tế cho người cần giúp đỡ. Nhưng hãy tưởng tượng tác động chúng ta có thể tạo ra nếu chúng ta hợp sức. Không chỉ giúp hàng ngàn, thậm chí hàng triệu người, mà chúng ta còn có thể tạo ra sự thay đổi tích cực và bền vững trong cuộc sống của họ. 🌏🤝<br><br>

            Chính trong cuộc sống hàng ngày, chúng ta đều gặp những cơ hội để tạo nên sự khác biệt. Đó có thể là việc giúp đỡ người khác trong hoàn cảnh khó khăn, ủng hộ một nguyên tắc mà chúng ta quan tâm, hoặc đơn giản là trở thành nguồn cảm hứng cho người khác.🌟 <br><br>

            Chúng ta hãy cùng làm việc cùng nhau, chia sẻ tài nguyên, kiến thức và tình yêu. Cùng nhau, chúng ta có thêm sức mạnh để tạo ra sự khác biệt đáng kể và làm cho cuộc sống cho tốt đẹp hơn. Mỗi ngày là một cơ hội mới để đóng góp tích cực cho thế giới xung quanh chúng ta. Hãy nắm lấy cơ hội này và tạo ra một tương lai tươi sáng cho tất cả.🌟🌏</p>
    </div>
    </div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>
