<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetWeb</title>

    <link th:href="@{/css/styleItemAdd.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.jquery.com/jquery-3.6.0.min.js" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
<div class="banner">
    <div th:replace="~{enTete :: enTete}"></div>

    <div class="causes">
        <div class="container">
            <h1 style="padding-bottom: 20px"></h1>


            <div class="wrapper">
                <div class="container">
                    <div class="top"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1 class="headingone">Nước</h1>
                                <p class="parag">5$</p>
                            </div>
                            <div class="buy"><i class="material-icons">Thêm vào giỏ hàng</i></div>

                        </div>
                        <div class="right">
                            <div class="done"><i class="material-icons">Thành công</i></div>
                            <div class="details">

                                <h1 class="headingone">Đã thêm vào giỏ hàng</h1>



                            </div>
                            <div class="remove"><i class="material-icons">Xoá</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">

                    <div class="icon"><i class="material-icons">Thông tin sản phẩm</i></div>
                    <div class="contents">
                        <table>
                            Những sản phẩm nước đóng chai này, được thiết kế đặc biệt cho viện trợ nhân đạo, được thiết kế để cung cấp nước uống sạch cho các cộng đồng chưa được phục vụ. Được đóng gói trong các thùng chứa bền, chúng được tăng cường các chất dinh dưỡng và khoáng chất thiết yếu cho sức khỏe. Mỗi chai đều trải qua quá trình kiểm tra chất lượng nghiêm ngặt để đảm bảo an toàn và tinh khiết, đáp ứng các tiêu chuẩn quốc tế.
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $('.buy').click(function(){
                $('.bottom').addClass("clicked");
            });

            $('.remove').click(function(){
                $('.bottom').removeClass("clicked");
            });
        </script>
    </body>
</html>
