<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjetWeb - Connexion</title>
    <link th:href="@{/css/styleConnexion.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="banner">
    <div th:replace="~{enTete :: enTete(username=${username})}"></div>

    <section class="forms-section">
        <div class="forms">
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
                    Đăng Nhập
                    <span class="underline"></span>
                </button>

                <form class="form form-login" method="post" th:action="@{/login}">
                    <div th:if="${param.error}" class="alert alert-success">
                       Trang Tiếp Theo
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Tiếp Theo</div>
                    <img th:src="@{/images/pin_PNG64.png}" alt="Image pin" style="width: 150px; height: auto; padding-left: 60px">
                    <fieldset>
                        <legend>Vui lòng điền Tên và Mật Khẩu để đăng nhập !!</legend>
                        <div class="input-block">
                            <label >Tên</label>
                            <input  type="text" required  id="username" name="username">
                        </div>
                        <div class="input-block">
                            <label >Mật Khẩu</label>
                            <input  type="password" required  id="password" name="password">
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login" th:href="@{/register}">Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
                    Trang Sau
                    <span class="underline"></span>
                </button>
                <form class="form form-signup">
                    <div th:if="${param.error}" class="alert alert-success">
                        Tên hoặc Mật Khảu không đúng
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Bạn đã Đăng Xuất.</div>

                    <img th:src="@{/images/pin_PNG64.png}" alt="Image pin" style="width: 150px; height: auto; padding-left: 60px">
                    <fieldset>

                        <div class="input-block">


                        </div>


                    </fieldset>

                </form>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{footer :: footer}"></div>
<script>
    const switchers = [...document.querySelectorAll('.switcher')];
    switchers.forEach(item => {
        item.addEventListener('click', function() {
            switchers.forEach(item => item.parentElement.classList.remove('is-active'));
            this.parentElement.classList.add('is-active');
        });
    });
</script>
</body>
</html>
