<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Project Participations</title>
    <link th:href="@{/css/styleAdmin.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Optima&display=swap" rel="stylesheet">
</head>
<body>
<div class="banner">
    <div class="speach">
        <div th:replace="~{enTete :: enTete}"></div>
        <h2>Participations for Project</h2>
        <table>
            <thead>
            <tr>
                <th>User</th>
                <th>Amount</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="participation : ${participations}">
                <td th:text="${participation.user.username}"></td>
                <td th:text="${participation.amount}"></td>
                <td th:text="${participation.comment}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/AdminProjet}"><button class="button">Back to Projects</button></a>
    </div>
</div>
</body>
</html>
