<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact us</title>
    <link rel="stylesheet" th:href="@{/css/styleProjectDetails.css}">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
</head>
<body>
<div class="container">
    <div class="contact-box">
        <div class="left" th:style="'background-image: url('+ @{'../images/' + ${projectSelect.photoUrl}} +');'"></div>
        <div class="right">
            <h2 th:text="${projectSelect.title}"></h2>

            <!-- PayPal SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=BAA5CeCkqcPXMesV928RO79xk6klXkUQP_c6IZvcOOwaq-KkejmhkyrUvGkF-MbHK8hsoaPqJ0uYljQNKA&components=hosted-buttons&enable-funding=venmo&currency=USD"></script>

            <!-- PayPal Container -->
            <div id="paypal-container-FX6APHYVCKTQN"></div>

            <!-- PayPal Button Script -->
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    paypal.HostedButtons({
                        hostedButtonId: "FX6APHYVCKTQN",
                        onApprove: function(data, actions) {
                            // Récupérer le montant du paiement
                            actions.order.capture().then(function(details) {
                                var paymentAmount = details.purchase_units[0].amount.value;

                                // Faire une requête AJAX pour mettre à jour la variable montant
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", "/updateProjectAmount", true);
                                xhr.setRequestHeader("Content-Type", "application/json");
                                xhr.onreadystatechange = function () {
                                    if (xhr.readyState === 4 && xhr.status === 200) {
                                        console.log("Montant mis à jour avec succès !");
                                    }
                                };
                                var jsonData = JSON.stringify({ montant: paymentAmount });
                                xhr.send(jsonData);
                            });
                        }
                    }).render("#paypal-container-FX6APHYVCKTQN");
                });
            </script>
            <a th:href="@{/Projet}">
                <button class="btn" type="button">Go back</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>