<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact us</title>
    <link rel="stylesheet" th:href="@{/css/styleProjectDetails.css}">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var leftDiv = document.querySelector('.left');
            var containerAfterStyle = document.createElement('style');
            var backgroundImageURL = getComputedStyle(leftDiv).backgroundImage;

            containerAfterStyle.innerHTML = '.container:after { background-image: ' + backgroundImageURL + '; }';
            document.head.appendChild(containerAfterStyle);
        });
    </script>
</head>
<body>
<div class="container">
    <div class="contact-box">
        <div class="left" th:style="'background-image: url('+ @{'../images/' + ${projectSelect.photoUrl}} +');'"></div>
        <div class="right">

            <h2 th:text="${projectSelect.title}"></h2>
         <script src="https://www.paypal.com/sdk/js?client-id=BAAhUVFTQlYlEopAtwgIIbKKVKXjdD7ulOOhEz5C5XV9vRvdat2yVsN_3Pv6dlRbYiF5qIYeBxVkSc-OVU&components=hosted-buttons&enable-funding=venmo&currency=USD"></script>
                                 <div id="paypal-container-RQJDJ5EFG6BYN"></div>



            <script>
                paypal.HostedButtons({
                    hostedButtonId:  "RQJDJ5EFG6BYN",
                    onApprove: function(data, actions) {
                        // Récupérer le montant du paiement
                        var paymentAmount = data.order.total_amount.value;

                        // Faire une requête AJAX pour mettre à jour la variable montant
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/updateProjectAmount", true);
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                console.log("Montant mis à jour avec succès !");
                            }
                        };
                        var jsonData = JSON.stringify({ montant: paymentAmount });
                        xhr.send(jsonData);
                    }
                }).render("#paypal-container-RQJDJ5EFG6BYN");
            </script>


            <a th:href="@{/Projet}">
                <button class="btn" type="button">Go back</button>
            </a>


        </div>
    </div>
</div>
</body>
</html>
